.site {

    &-info {
        width: 830px;
        padding-left: 150px;
        padding-right: 150px;
        @include background("bg-pattern-desktop.svg");
    }
}

.site-header {

    &__logo {
        padding: 50px 0;
    }
}

.site-hero__mobile {
    @include mq("desktop") {
        display: none;
    }
}