.site {

    &-info {
        @include mq("desktop") {
            width: 830px;
            padding-left: 150px;
            padding-right: 150px;
            @include background("bg-pattern-desktop.svg");
        }
    }
}

.site-header {

    &__logo {
        padding: 30px 0 30px 50px;

        @include mq("desktop") {
            padding: 50px 0;
        }

        @include mq("desktop", "max") {
            img {    
                width: 100px;
            }
        }
    }
}

.site-hero {

    &__mobile {
        @include mq("desktop") {
            display: none;
        }
    }

    &__desktop {
        @include mq("desktop", "max") {
            display: none;
        }
    }
}