@import "base/_vars";

.site-news {
		
	@include mq("desktop") {
		padding: 50px 0 100px;
	}
	
	@include mq("desktop", "max") {
		background: $gradient-1;
	}

	&__container {
		
		@include mq("desktop", "max") {
			text-align: center;
		}
	}

	&__text {
		margin-bottom: 30px;

		h1 {
			margin-bottom: 20px;
			text-transform: uppercase;
			letter-spacing: 10px;
			line-height: 1.3;
			font-size: 32px;
			font-weight: 300;
			color: $color-primary-1;

		@include mq("desktop") {
			font-size: 62px;
		}

			span {
				display: block;
				font-weight: 600;
				color: hsl(0, 6%, 24%);
			}
		}

		h3 {
			font-size: 14px;
			line-height: 2;
			color: $color-primary-1;

		@include mq("desktop") {
			font-size: 16px;
		}

			span {
				display: block;
			}
		}
	}

	&__form {

		&-container {
			display: flex;
			position: relative;

			@include mq("desktop") {
				width: 450px;
			}
		}

		.field {
			border-radius: 50px;

			&:nth-child(2) {
				position: absolute;
				right: 0;
				padding: 11px 25px;
				background: $gradient-2;

				@include mq("desktop") {
					right: 30px;
				}
			}
		}

		input {
			
			&[type="email"] {
				width: 315px;
				padding: 13px 10px 13px 20px;
				border: 1px solid $color-primary-1;
				background: $gradient-1;
				font-family: $font-1;
				font-size: 14px;
				color: $color-primary-1;

				&::placeholder {
					color: $color-primary-1;
					opacity: 1;
					/* Firefox */
				}

				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $color-primary-1;
				}

				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $color-primary-1;
				}

				@include mq("desktop") {
					width: 400px;
				}
			}

			&[type="submit"] {
				@include background("icon-arrow.svg", center center);
				background-size: contain;
				border: none;
			}
		}
	}
}