$font-1: "Josefin Sans", sans-serif;

$imagedir: "/images/"; // define the base path before the mixin

$color-primary-1: hsl(0, 36%, 70%);
$color-primary-2: hsl(0, 93%, 68%);
$color-neutral: hsl(0, 6%, 24%);
