html
    head
        title Base Apparel coming soon page
        link(rel="stylesheet", href="css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap" rel="stylesheet")
    body
        .wrapper
            header.site-header
                .site-header__logo
                    img(src="images/logo.svg", alt="logo")
            section.site-hero
                img(src="/images/hero-mobile.jpg", alt="", srcset="")
            section.site-news
                .site-news__container
                    .site-news__text
                        h1 We're 
                            span coming 
                            span soon
                        h3 Hello fellow shoppers! We've currently building our new
                            span fashion store. Add your email below to stay up-to-date with
                            span announcements and our launch deals.
                    .site-news__form
                        form(action="")
                            .site-news__form-container
                                .field
                                    input(type="email", name="email", class="field", placeholder="Email Address")
                                .field
                                    input(type="submit", value="")