html
    head
        title Base Apparel coming soon page
        link(rel="stylesheet", href="css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap" rel="stylesheet")
    body
        header.site-header
            .site-header__logo
                img(src="images/logo.svg", alt="logo")
        section.site-hero
            img(src="/images/hero-mobile.jpg", alt="", srcset="")